<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Projects will be ending.</title>
</head>
<body>
<p>Dear {{ user.full_name }}</p>
<p>The following projects are ending {% if delta == 1 %} tomorrow {% else %} in {{ delta }} days{% endif %}:</p>
<ul>
{% for project in projects %}
    <li><a href="{{ project.url }}">{{ project.name }}</a></li>
{% endfor %}
</ul>
<p>
    At this date, the project will go into a "grace period" of 30 days.<br />
    You will be able to log in and copy your data, but not run any jobs. <br />
    At the end of the grace period this project and all data will be deleted.
</p>
<p>
    BriCS do not award projects and do not have the power to issue extensions.<br />
    Please contact the body that awarded your project if you wish to request
    an extension or have any questions.
</p>
</body>
</html>
