<html lang="en">
<head><meta charset="UTF-8"><title>The data of your {{ site_name }} project {{ project_name }} will be deleted in {{ days_until_deletion }} days</title></head>
<body>
<p>{% if in_grace_period %}Your <strong>{{ site_name }}</strong> project <strong>{{ project_name }}</strong> is in its grace period.{% else %}The last day of access to your <strong>{{ site_name }}</strong> project <strong>{{ project_name }}</strong> is {{ last_access_date|date:"j F Y" }}.{% if grace_period_days %} It is followed by a grace period of {{ grace_period_days }} days so that you can copy back your data.{% endif %}{% endif %}</p>
<p><strong>Your data will be automatically scheduled for deletion in {{ days_until_deletion }} days, on {{ deletion_date|date:"j F Y" }}.</strong> Your last day to access your data is {{ data_last_access_date|date:"j F Y" }}.</p>
<p>If you do not think that you will be able to copy back all of your data in time, <strong>you must contact the allocator of your project TODAY</strong>. Today is the last day that a change to the grace period can be requested, as changes need to be made at least {{ grace_change_notice_days }} days before the data is scheduled for deletion. They will need evidence that you have already started copying back your data.</p>
<p><a href="{{ project_url }}">View your project</a>.</p>
{% if docs_url %}<p>For more information, read the <a href="{{ docs_url }}">documentation</a>.</p>{% endif %}
{% if support_url %}<p>If you have any queries, please <a href="{{ support_url }}">raise a ticket</a>.</p>{% endif %}
</body>
</html>
