<html lang="en">
<head><meta charset="UTF-8"><title>Your {{ site_name }} project {{ project_name }} has ended</title></head>
<body>
<p>Your <strong>{{ site_name }}</strong> project <strong>{{ project_name }}</strong> has ended. Its last day of access was {{ last_access_date|date:"j F Y" }}.</p>
<p>The project is now in its grace period of {{ grace_period_days }} days so that you can copy back your data.</p>
<h3>You MUST start copying back your data NOW.</h3>
<p><strong>Your last day to access your data is {{ data_last_access_date|date:"j F Y" }}.</strong> You will lose access on {{ deletion_date|date:"j F Y" }}, when your data will be automatically scheduled for deletion.</p>
{% if grace_change_deadline_is_today %}
<p>If you will not be able to copy back all of your data in time, <strong>you must contact the allocator of your project TODAY</strong>. Today is the last day that a change to the grace period can be requested, as changes need to be made at least {{ grace_change_notice_days }} days before the data is scheduled for deletion. They will need evidence that you have already started copying back your data.</p>
{% elif grace_change_deadline_passed %}
<p>Your grace period cannot be extended, as changes to it need to be made at least {{ grace_change_notice_days }} days before the data is scheduled for deletion. Please make sure that you have copied back all of your data by the end of {{ data_last_access_date|date:"j F Y" }}.</p>
{% else %}
<p>If you will not be able to copy back all of your data by the end of {{ data_last_access_date|date:"j F Y" }}, <strong>you must contact the allocator of your project no later than {{ grace_change_deadline|date:"j F Y" }}</strong>. They may be able to extend your grace period, but they will need evidence that you have already started copying back your data.</p>
{% endif %}
<p><a href="{{ project_url }}">View your project</a>.</p>
{% if docs_url %}<p>For more information, read the <a href="{{ docs_url }}">documentation</a>.</p>{% endif %}
{% if support_url %}<p>If you have any queries, please <a href="{{ support_url }}">raise a ticket</a>.</p>{% endif %}
</body>
</html>
